.containerHead{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.headContent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cartCount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.icon{
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}